<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{dashboard/layout}">

<head>
    <meta charset="utf-8">
    <title>Fruitables - Admin dashboard</title>
</head>

<body>
<section layout:fragment="content">
    <div class="container-fluid">

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <p>Melumati silmek istediyivize eminsiniz?</p>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="form-group">
                        <input class="btn btn-danger" type="submit" value="Sil">
                        <a class="btn btn-primary" href="/dashboard/categories">Legv et</a>
                    </div>
                </form>
            </div>
        </div>

    </div>


</section>
</body>

</html>